version: "3.6"
services:
  postgres:
    container_name: postgres_client
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mydb
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data/
volumes:
  postgres: